.break-picker{
    width: 50%;
    float: right;
     text-align: center;
     font-size: 30px;
}
.time-picker{
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 30px;
    
    
}

button{
    width: 80px;
    font-size: 15px;
    margin: auto 0;
}

h1{
    text-align: center;
}

.controls{
    width: 100%;
    display: flex;
    justify-content: center;
}

#timer{
    width: 100%;
    font-size: 80px;
    text-align: center;
    margin-top: 65px;
}